POSTGRES_SOURCE_HOST=postgres_source
POSTGRES_SOURCE_PORT=5432
POSTGRES_SOURCE_DB=energy_source
POSTGRES_SOURCE_USER=postgres
POSTGRES_SOURCE_PASSWORD=postgres

POSTGRES_TARGET_HOST=postgres_target
POSTGRES_TARGET_PORT=5432
POSTGRES_TARGET_DB=energy_target
POSTGRES_TARGET_USER=postgres
POSTGRES_TARGET_PASSWORD=postgres

API_HOST=0.0.0.0
API_PORT=8000

DAGSTER_POSTGRES_HOST=postgres_target
DAGSTER_POSTGRES_DB=energy_target

PYTHONPATH=src
